.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}

.section {
  margin-top: 5rem;
  padding: 0.1rem;
}

.section_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
}

.select_element {
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.input_element {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.button_element {
  padding: 0.5rem;
  background-color: #dcdcdc;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.time {
  font-size: 0.7rem;
}

.section1 {
  width: 40rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section1_post {
  width: 40rem;
  border-top: 1px rgb(207, 207, 207) solid;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem;
}

.section1_post:hover {
  border: none;
  background-color: rgb(223, 223, 223);
  border-radius: 1rem;
}

.body_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.body_header_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 20rem;
}

.body_body {
  margin: 1rem;
  font-family: "Ydestreet";
}

.body_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.body_footer_button {
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.body_footer_button:hover {
  background-color: rgb(211, 211, 211);
}

