.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.section1 {
  width: 10rem;
  height: 100vh;
}
.select_element {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.select_element:hover {
  border-color: #888;
}

.section2 {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0 0.5rem;
}
.section2_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hor {
  border-top: 1px solid lightgray;
  padding: 0.1rem;
}
.post {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.2s, background-color 0.3s;
}

.post:hover {
  background-color: rgb(232, 232, 232);
}

.info_button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem;
  background-color: #ededed;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.info_button:hover {
  background-color: #ffffff;
  transform: translateY(-5px);
}



.post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_header_front {}

.post_header_rear {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 0.5rem;
}


.post_footer {
  display: flex;
  justify-content: flex-end;
}

.like_button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem 1rem;
  background-color: #ededed;
  ;
  border-radius: 9999px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.like_button:hover {
  background-color: #ffffff;
  transform: translateY(-5px);
}

.section3 {
  width: 10rem;
  height: 100vh;
}