.main {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100vh;
  background-color: rgba(238, 238, 238, 0.9);
  z-index: 999;
}

.section1 {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.menu { 
margin: 1rem 0;
display: flex;
flex-direction: row;
justify-content: end;
}
.aa {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.aa:hover{
  border: none;
}

.info_button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem;
  background-color: lightgray;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.info_button:hover {
  background-color: #ffffff;
  transform: translateY(-5px);
}

.section1_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section1_header_front {
}

.section1_header_rear {
  display: flex;
  flex-direction: row;
}

.section1_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1_footer{
}

.section2 {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.section2_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section2_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section3 { 
  padding: 0 1rem;
}