.navbar {
  z-index: 999;
  background-color: rgba(26, 26, 26, 0.9);
  display: flex;
  position: fixed;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  height: 3.5rem;
  color: white;
  width: 100%;
}

.navbar_header {
  display: flex;
  flex-direction: row;
  border: 1px red solid;
  align-items: center;
  gap: 0.5rem;
}
.logo_element {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  border: none;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.logo_img {
  height: 3rem;
  border-radius: 100%;
}
.logo_text {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.nav_body {
  width: 60%;
  position: relative;
  border: 1px red solid;
}


.input_element {
  width: 70%;
  height: 2.5rem;
  border-radius: 5rem;
  background-color: rgb(231, 231, 231);
  border: none;
  padding: 0 1rem 0 2.5rem;
  /* 왼쪽 패딩을 넉넉히 줘서 아이콘 공간 확보 */
}

.search_icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  pointer-events: none;
  /* 클릭 무시 */
}

.nav_footer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border: 1px red solid;
  align-items: center;
}

.login_button {
  border: none;
  border-radius: 5rem;
  padding: 0.5rem;
  width: 4rem;
  height: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

.login_button:hover {
  background-color: rgb(225, 225, 225);
}

.detail_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}