.main {
    
}

.section {
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: 5rem;
    padding: 0 1rem;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 15rem;
    position: fixed;
    right: 0;
    top: 0;
}

.header {
    border-bottom: 1px solid white;
}