.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px 50px;
  width: 40rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35rem;
  padding: 0 1rem;
}

.body {
  display: flex;
  width: 40rem;
  margin: 0.5rem;
  height: 4rem;
  border-radius: 10rem;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
}

.barA {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  transition: width 0.3s ease;
  background: linear-gradient(to right, #8205ff, #fa0e2a);
  font-weight: bolder;
  
}

.barB {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  transition: width 0.3s ease;
  background: linear-gradient(to right, #fae100, #6ce54d);
  font-weight: bolder;
}