@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-top: 7rem;
  text-align: center;
  width: 25rem;
  display: flex;
  flex-direction: column;
}

.section_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input_element {
  margin: 0.1rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 15rem;
}
.section_body {
  font-size: 5rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  cursor: pointer;
}
.section_footer {

}

.section1 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(235, 235, 235);
}
.section1_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section1_body {
  display: flex;
  flex-direction: row;
}

.I.selected,
.E.selected {
  color: #ff80f3;
}

.S.selected,
.N.selected {
  color: #fade85;
}

.F.selected,
.T.selected {
  color: #bae1d3;
}
.P.selected,
.J.selected {
  color: #c886ff;
}
