@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.main {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vw;
}

.body {
  text-align: center;
  width: 30rem;
  display: flex;
  flex-direction: column;
  
}

.body_header {
  display: flex;
  flex-direction: column;
}
.body_body {
  margin: 1rem;
  font-size: 5rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  cursor: pointer;
}

.I.selected,
.E.selected {
  color: #ff80f3;
  
}

.S.selected,
.N.selected {
  color: #fade85;
}

.F.selected,
.T.selected {
  letter-spacing: 1px;
  color: #bae1d3;
}
.P.selected,
.J.selected {
  color: #c886ff;
}

.result_main {
}
.result_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.result_body {
font-family: "Monoton", cursive;
font-size: 2vw;
}