/* Result.module.css */
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50rem;
  font-size: 1.5rem;
}

.header {
  font-weight: bold;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.I.selected,
.E.selected {
  color: #e9738d;
}

.S.selected,
.N.selected {
  color: #fade85;
}

.F.selected,
.T.selected {
  color: #bae1d3;
}

.P.selected,
.J.selected {
  color: #cca9dd;
}