.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-top: 5rem;
  text-align: center;
  width: 20rem;
  display: flex;
  flex-direction: column;
}
.notice {
  font-size: 0.5rem;
}

.header {
  font-weight: bold;
  font-size: 1rem;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.I.selected,
.E.selected {
  color: #e9738d;
}

.S.selected,
.N.selected {
  color: #fade85;
}

.F.selected,
.T.selected {
  color: #bae1d3;
}

.P.selected,
.J.selected {
  color: #cca9dd;
}