.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body {
  width: 20rem;
  display: flex;
  justify-content: center;
  margin: 0 0.5rem;
}


.footer {
  display: flex;
  justify-content: center;
  width: 5rem;
}

.input_element {
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}

.button {
  padding: 1rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.button:hover {
  background-color: #2980b9;
}