.main {
    
    width: 50rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    border-radius: 1rem;
    padding: 0 0.3rem;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.header_button{
padding: 0.3rem;
border-radius: 1rem;
}
.header_button:hover {
    background-color: rgb(209, 209, 209);
}

.body {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}